<script setup lang="ts">
import { RouterView } from "vue-router";
import Navbar from "@/views/layout/Navbar.vue";
import TopMenu from "@/views/layout/TopMenu.vue";
</script> 

<template>
  <header class="mb-auto">
    <TopMenu />
    <Navbar />
  </header>
  <router-view /> 
</template>
<style scoped></style>
 