<script lang="ts" setup>
import {h, onBeforeMount, reactive, ref} from "vue";
import {ElMessage, ElMessageBox, FormInstance} from "element-plus";
import router from "@/router";
import {useStore} from "vuex";
import {signIn} from "@/api/sign";
import {LoginRequest} from "types/sign";
import { User,Lock } from '@element-plus/icons-vue'

const loginFormRef = ref<FormInstance>()

const loginData = reactive<LoginRequest>({
  id: "",
  pw: "",
});

const store = useStore();
const error = ref<string>()
const passwordModify = ref();

async function login() {
  console.log("Login.vue login() - store.state.member: ", store.state?.member);
  error.value = undefined;
  try {
    const res = await signIn(loginData);
    console.log("login router to /")
    await router.push("/");
  } catch (e:any) {
    console.error("Login Error: ", e);
    error.value = e.error.code
  }
}
</script>

<template>
  <el-card shadow="never" class="w-[28.125rem] m-auto">
    <div class="text-center text-[35px] mb-10 font-bold">로그인</div>
    <el-form
      ref="loginFormRef"
      :model="loginData"
    >
      <el-form-item prop="id">
        <el-input v-model="loginData.id" placeholder="아이디를 입력해주세요." size="large">
          <template #prepend>
            <el-icon class="mr-2"><User /></el-icon>아이디
          </template>
        </el-input>
      </el-form-item>
      <el-form-item prop="pw">
        <el-input v-model="loginData.pw" type="password" placeholder="비밀번호를 입력해주세요." size="large" @keydown.enter="login">
          <template #prepend>
            <el-icon class="mr-2"><Lock /></el-icon>패스워드
          </template>
        </el-input>
      </el-form-item>
      <el-form-item v-if="error === 'M-001'" prop="error">
        <el-alert title="error alert" type="error">
          <template #title>
            <p>회원 정보가 일치 하지 않습니다.</p>
            <p>회원 정보를 확인 후 다시 한번 로그인 해주세요.</p>
          </template>
        </el-alert>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          class="w-full"
          size="large"
          @click="login"
        >
          로그인
        </el-button>
      </el-form-item>
    </el-form>
    <div class="text-center mt-10 hidden">
      <router-link to="/user/changepw">
        <el-button type="info" link>
          비밀번호 재설정
        </el-button>
      </router-link>
      <el-divider direction="vertical" />
      <router-link to="/user/idsearch">
        <el-button type="info" link>
          아이디 찾기
        </el-button>
      </router-link>
      <el-divider direction="vertical" border-style="dashed" />
      <router-link to="/user/agree">
        <el-button type="info" link>
          회원가입
        </el-button>
      </router-link>
    </div>

  </el-card>
  <div class="flex justify-center mt-10">
    <img :src="`/resources/image/main/ESG_Design.png`" alt="ESG" />
  </div>
</template>