<script setup lang="ts">
import AsideHeader from "@/components/layout/aside-header.vue";
import MainTop from "@/components/layout/main-top.vue";
import AsideMenu from "@/components/layout/aside-menu.vue";
import AsideBottom from "@/components/layout/aside-bottom.vue";

</script>

<template>
  <div>
    <el-container>
      <el-aside width="18.75rem" class="bg-[#f7f7f7] border-r border-[#e7e7e7]">
        <aside-header/>
        <el-scrollbar>
          <aside-menu></aside-menu>
        </el-scrollbar>
        <aside-bottom/>
      </el-aside>
      <el-main class="bg-[#f7fafd]">
        <el-scrollbar >
          <router-view :key="$route.fullPath" class="mb-[1.25rem] px-[1.875rem]"/>
        </el-scrollbar>
      </el-main>
    </el-container>
  </div>
</template>

<style scoped>
.el-main {
  --el-main-padding: 0;
  height: 100vh;
}
.el-aside > .el-scrollbar{
  height: calc(100vh - 18.25rem);
}

@media (max-width: 1080px) {
  .el-aside {
    width: 0;
  }
}

</style>
