<script setup lang="ts">
import { useRouter } from "vue-router";

const router = useRouter();

function onClickGoBack() {
  router.go(-1);
}

function gohome() {
  router.push("/");
}
</script>

<template>
  <div class="wrapper">
    <router-view />
    <div class="flex justify-between mt-[50px] w-[760px]">
      <div class="flex gap-[10px]">
        <button class="btn_tran" @click="onClickGoBack">이전 페이지로</button>
      </div>
      <div class="flex gap-[10px]">
        <button class="btn_green" @click="gohome">홈으로</button>
      </div>
    </div>
  </div>
</template>

<style scoped>
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
}
</style>
