<script setup lang="ts">
import Login from "@/views/common/user/login.vue";
</script>

<template>
  <div class="flex flex-col">
    <header class="flex-none h-[100px] bg-[#F7F7F7]">

    </header>
    <main class="w-full bg-[#f7f7f7] flex-[1_1_calc(100vh-174px)]">
      <div class="mx-auto mt-[50px]">
        <login></login>
      </div>
    </main>
    <footer
      class="bg-[#F7F7F7] border-t border-t-[#e7e7e7] h-[4.625rem] flex justify-between items-center px-[3.125rem] text-[0.9375rem] relative z-10 flex-none"
    >
      <div class="text-[#444]">
        <router-link to="/user/service" class="non_focus mr-[12px]">이용약관</router-link>
        <router-link to="/user/privacy" class="pl-[12px]">개인정보 처리방침</router-link>
      </div>
      <span class="text-[#444]"
      >Copyright © 2022 <span class="text-[#FF6600]">Let's ESG  Systems</span> Co., Ltd. All rights reserved.</span
      >
    </footer>
  </div>
</template>

<style scoped>
.non_focus {
  @apply opacity-70;
}
</style>
