<script setup lang="ts"></script>

<template>
  <div
      class="bg-white w-[760px] h-[392px] rounded-[10px] shadow-[0_4px_10px_rgba(0,0,0,0.03)] flex flex-col items-center"
  >
    <p class="text-[3.125rem] font-bold text-[#222] mt-[2.5rem]">404</p>
    <p class="text-[1.875rem] font-bold text-[#222] mt-[0.625rem]">Not Found</p>
    <p class="text-2xl font-bold text-[#222] mt-[2.5rem]">
      요청하신 페이지를 찾을 수 없습니다.
    </p>
    <p class="text-[1.125rem] text-[#666] text-center mt-[0.875rem] leading-[1.3]">
      서비스 이용에 불편을 드려 죄송합니다.<br />
      요청하신 페이지의 정보가 변경되어 찾을 수 없습니다.<br />
      동일한 문제가 발생한다면 고객센터를 통해 문의해 주세요.
    </p>
  </div>
</template>

<style scoped></style>
