<script setup lang="ts"></script>

<template>
  <div
      class="bg-white w-[760px] h-[366px] rounded-[10px] shadow-[0_4px_10px_rgba(0,0,0,0.03)] flex flex-col items-center"
  >
    <p class="text-[3.125rem] font-bold text-[#222] mt-[2.5rem]">500</p>
    <p class="text-[1.875rem] font-bold text-[#222] mt-[0.625rem]">Internal Server Error</p>
    <p class="text-2xl font-bold text-[#222] mt-[2.5rem]">
      접근할 수 없는 페이지입니다.
    </p>
    <p class="text-[1.125rem] text-[#666] text-center mt-[0.875rem] leading-[1.3]">
      서비스 정책에 따라 권한이 부여된 사용자만 접근이 가능합니다.<br />
      궁금하신 사항은 고객센터를 통해 문의해 주세요.
    </p>
  </div>
</template>

<style scoped></style>
