<script setup lang="ts"></script>

<template>
  <div
      class="bg-white w-[760px] h-[366px] rounded-[10px] shadow-[0_4px_10px_rgba(0,0,0,0.03)] flex flex-col items-center"
  >
    <p class="text-[3.125rem] font-bold text-[#222] mt-[2.5rem]">Error Page</p>
    <p class="text-2xl font-bold text-[#222] mt-[2.5rem]">오류가 발생했습니다.</p>
    <p class="text-[18px] text-[#666] text-center mt-[14px] leading-[1.3]">
      서비스 이용에 불편을 드려 죄송합니다.<br />
      나중에 다시 시도해 주세요.
    </p>
  </div>
</template>

<style scoped></style>
