<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import TopMenu from './components/layout/TopMenu.vue'

</script> 

<template> 
  <header>
    <TopMenu /> 
    <div class="wrapper">
    
    
    </div> 
  </header>

  <RouterView />
</template>

<style scoped>


nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }


  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
