<script lang="ts" setup>
import router from "@/router";

async function routerHome() {
  // 로그인 권한에 따른 Home 이동
  await router.push("/");
}
</script>
<template>
  <el-row class="items-center mt-3 h-[4.375rem] justify-center">
    <el-button text @click="routerHome">
      <img :src="`/resources/image/layout/LOGO.svg`" width="200" alt="LOGO" />
<!--      <span class="text-3xl font-black text-[#37994c] ml-3">Let's ESG</span>-->
    </el-button>
  </el-row>

</template>

<style scoped>
</style>