<script lang="ts" setup>
import {onMounted, ref} from "vue";
import router from "@/router";
import {signOut} from "@/api/sign";
import {PushHistoryResponse, PushHistoryRequest} from "types/push_history_managment";
import {
  patchReadPushHistory,
  selectPushHistoryListByMember,
  selectPushHistoryListByMemberWithNotiId
} from "@/api/push_history_managment"
import {ElMessageBox} from "element-plus";
import {Setting, Unlock, User, Bell, BellFilled} from '@element-plus/icons-vue'
import {useStore} from "vuex";

const table = ref(false)

async function logout() {
  await signOut();
  await router.push("/login");
}

async function myPage() {
  await router.push("/mypage");
}

const pushHistory = ref<PushHistoryResponse[]>([])

async function loadPushHistory() {
  pushHistory.value = []
  // pushHistory.value = await selectPushHistoryListByMember();
}

onMounted(async () => {
  await loadPushHistory()
  console.log(pushHistory.value)
})

const pushHistoryForm = ref<PushHistoryRequest>({
  notiId: '',              // 알림ID
  memberId: '',            // 사용자ID
  url: '',                 // URL
  contents: '',            // 내용
  read: null,              // 읽음여부
  name: '',                // 사용자명
  companyName: '',         // 회사명
  createdBy: '',           // 최초생성자
  createdAt: '',           // 최초생성일시
  lastModifiedBy: '',      // 마지막수정자
  lastModifiedAt: '',      // 마지막수정일시
})

const store = useStore();

async function rowClick(history) {
  // pushHistoryForm.value = await selectPushHistoryListByMemberWithNotiId(history.notiId);
  await patchReadPushHistory(history);
  await ElMessageBox.alert(pushHistoryForm.value.contents, pushHistoryForm.value.name, {
        confirmButtonText: '확인',
        buttonSize: "default",
        callback: async () => {
          // pushHistory.value = await selectPushHistoryListByMember();
        }
      }
  )
}

</script>
<template>
  <div class="h-[11.875rem] pt-[1.25rem] pb-[1.25rem]">
    <div class="flex justify-center gap-1.5">
      <el-button-group>
        <el-button size="small" type="primary" @click="myPage">
          <el-icon class="mr-1">
            <Setting/>
          </el-icon>
          마이페이지
        </el-button>
        <el-button size="small" type="info" @click="logout">
          <el-icon class="mr-1">
            <Unlock/>
          </el-icon>
          로그아웃
        </el-button>
      </el-button-group>
<!--      <el-popover placement="top" width="auto" trigger="click">-->
<!--        <div class="flex justify-center">-->
<!--          <el-button-group>-->
<!--            <el-button size="small" type="primary" @click="myPage">-->
<!--              <el-icon class="mr-1">-->
<!--                <Setting/>-->
<!--              </el-icon>-->
<!--              마이페이지-->
<!--            </el-button>-->
<!--            <el-button size="small" type="info" @click="logout">-->
<!--              <el-icon class="mr-1">-->
<!--                <Unlock/>-->
<!--              </el-icon>-->
<!--              로그아웃-->
<!--            </el-button>-->
<!--          </el-button-group>-->
<!--        </div>-->
<!--        <template #reference>-->
<!--          <el-button circle>-->
<!--            <el-icon>-->
<!--              <User/>-->
<!--            </el-icon>-->
<!--          </el-button>-->
<!--        </template>-->
<!--      </el-popover>-->
<!--      <el-badge :value="pushHistory.filter(value => value.read === false).length" :max="99" class="item"-->
<!--                :hidden="pushHistory.filter(value => value.read === false).length === 0">-->
<!--        <el-button circle @click="table = true">-->
<!--          <el-icon>-->
<!--            <Bell/>-->
<!--          </el-icon>-->
<!--        </el-button>-->
<!--      </el-badge>-->
    </div>
    <div class="flex flex-col text-xs gap-2 mb-7 text-[#444] opacity-70 mt-3">
      <div class="flex justify-center gap-[0.875rem] items-center">
        <router-link to="/policy/service">이용약관</router-link>
        <router-link to="/policy/privacy" class="font-bold">개인정보 처리방침</router-link>
        <router-link to="/policy/site_map">사이트맵</router-link>
      </div>
<!--      <div class="flex justify-center gap-[0.875rem] items-center">-->
<!--        <router-link to="/policy/site_map">사이트맵</router-link>-->
<!--        <router-link to="/policy/manual">매뉴얼</router-link>-->
<!--      </div>-->
    </div>
    <div class="text-center">
      <p class="text-[#444] text-xs opacity-70">
        Copyright © 2022 Let's ESG Co., Ltd.
      </p>
      <p class="text-[#444] text-xs opacity-70">
        All rights reserved.
      </p>
    </div>
  </div>

  <el-dialog
      v-model="table"
      title="알람 리스트"
      style="left: 37.5%;
              top: 40.75%;
              width: 25%;"
  >
    <el-timeline>
      <el-timeline-item
          v-for="history in pushHistory"
          :key="history.notiId"
          :timestamp="history.createdAt"
          :color="history.read === true ? '' : '#0bbd87'"
      >
        <el-card @click="rowClick(history)">
          <div v-if="history.companyName !== null">
            <el-icon color="red" v-if="history.read === false">
              <BellFilled/>
            </el-icon>&emsp;{{ history.companyName }} - {{ history.name }}
          </div>
          <div v-if="history.companyName === null">
            <el-icon color="red" v-if="history.read === false">
              <BellFilled/>
            </el-icon>&emsp;{{ history.name }}
          </div>
        </el-card>
      </el-timeline-item>
    </el-timeline>
  </el-dialog>
</template>

<style scoped>
.el-button + .el-button {
  margin-left: 0;
}
</style>