<script lang="ts" setup>
import router from "@/router";
import {onBeforeMount, ref} from "vue";
import {MemberMenu} from "types/menu";
import {selectMenuByMemberId} from "@/api/menu";

// router에서 바로 불러온 Menu
const MENU_BASIC = router.options.routes.filter(value => {
  return value.name && (value.name !== 'kesg' && value.name !== 'user' && value.name !== 'login')
})

const memberMenu = ref<MemberMenu[]>([])

onBeforeMount(async () => {
  memberMenu.value = await selectMenuByMemberId();
})

</script>

<template>
  <el-menu
      router
      unique-opened
      :default-active="$route.path"
      active-text-color="#37994c"
      background-color="transparent"
      text-color="#444">
    <template v-for="(rule, index) in memberMenu">
      <el-sub-menu v-if="rule.children && rule.children.length > 0"
                  :index="rule.path">
        <template #title>
          {{ rule.title }}
        </template>
        <el-menu-item v-for="(child, index) in rule.children"
                      :index="'/' + rule.path + '/' + child.path">
          {{ child.title }}
        </el-menu-item>
      </el-sub-menu>
      <el-menu-item v-else
                    :key="index"
                    :index="rule.path">
        {{ rule.title }}
      </el-menu-item>
    </template>
  </el-menu>
</template>

<style scoped>
.el-menu {
  @apply border-r-0;
}
.el-menu-item.is-active{
  @apply bg-[#eee]
}
</style>