<script lang="ts" setup>
import {getCurrentInstance, ref} from "vue";
import {ArrowUpBold, ArrowDownBold} from '@element-plus/icons-vue'

const app = getCurrentInstance();
const titleName = ref<any>()
titleName.value = app?.appContext.config.globalProperties.$route.meta.title;

let searchView = app?.appContext.config.globalProperties.searchView

function toggleSearch() {
  searchView.value = !searchView.value
}

</script>
<template>
  <div class="mb-5 mt-[1.25rem] flex justify-between items-center">
    <span class="text-2xl font-bold mr-3">{{titleName}}</span>
    <el-button @click="toggleSearch" v-if="app?.appContext.config.globalProperties.$route.meta.searchYn">
      <el-icon class="mr-2">
        <ArrowUpBold v-if="searchView"/>
        <ArrowDownBold v-else/>
      </el-icon>조회 {{ searchView ? '닫기' : '열기'}}
    </el-button>
  </div>
</template>

<style scoped>
</style>