<script lang="ts" setup>
import {getCurrentInstance, onBeforeMount, onBeforeUnmount, onMounted, ref} from "vue";

const app = getCurrentInstance();

const searchView = app?.appContext.config.globalProperties.searchView
const searchBox = ref<HTMLElement>();
const searchBoxHeight = app?.appContext.config.globalProperties.searchHeight


onMounted(() => {
  resizeSearch()
  window.addEventListener('resize', resizeSearch);
})

onBeforeUnmount(() => {
  window.removeEventListener('resize', resizeSearch);
});

function resizeSearch() {
  searchBoxHeight.value = searchBox.value.offsetHeight
}

</script>
<template>
  <div ref="searchBox" class="searchBg mb-5" :class="searchView ? 'flex' : 'hidden'">
    <div class="flex-auto mr-[1.875rem]">
      <slot/>
    </div>
    <div class="flex flex-none items-end mb-[1.125rem]">
      <slot name="button"/>
    </div>
  </div>
</template>

<style scoped>
.searchBg {
  @apply w-full justify-between;
  padding: 1.25rem 1.25rem 0.125rem 1.25rem;
  border-radius: 0.25rem;
  border: 1px solid #e4e7ed;
  background-color: #fff;
}
</style>