<script  lang="ts" setup>
import MainTop from "@/components/layout/main-top.vue";
import {computed, getCurrentInstance, onBeforeMount, onMounted, reactive, ref} from "vue";
import {ElTable} from "element-plus";
import { Search } from '@element-plus/icons-vue'
import SearchAria from "@/components/layout/search-aria.vue";
import type { FormInstance } from 'element-plus'
import Industry_selector from "@/components/industry_selector/industry_selector.vue";
import {industryFlatList} from "@/api/common";
import {IndustryStandardFlatResponse} from "types/common";
import { default as vElTableInfiniteScroll } from "el-table-infinite-scroll";

const app = getCurrentInstance();

const searchFormRef = ref<FormInstance>()
const searchForm = reactive({
  searchWord: '',
})

const list = ref<IndustryStandardFlatResponse[]>([]);
const indicatorListRef = ref<InstanceType<typeof ElTable>>()
const industrySelectGICS = ref([])
const industrySelectKSIC = ref([])


onBeforeMount(async () => {
  list.value = await industryFlatList();
})

// 조회 필터
const filterTableData = computed(() =>
  list.value.filter(
    (data) =>
      !searchForm.searchWord ||
      data.code.toLowerCase().includes(searchForm.searchWord.toLowerCase()) ||
      data.division.toLowerCase().includes(searchForm.searchWord.toLowerCase()) ||
      data.industryName.toLowerCase().includes(searchForm.searchWord.toLowerCase())
  )
)

// 검색 초기화
const resetForm = (searchFormRef: FormInstance | undefined) => {
  if (!searchFormRef) return
  searchFormRef.resetFields()
}

function checkValue() {
  console.log(`===>`,industrySelectGICS.value,industrySelectKSIC.value);
}
</script>
<template>
  <div>
    <main-top></main-top>
    <el-row :gutter="20">
      <el-col :span="10">
        <search-aria>
          <el-form
            ref="searchFormRef"
            :model="searchForm"
          >
            <el-form-item prop="searchWord">
              <el-input v-model="searchForm.searchWord" :suffix-icon="Search" placeholder="검색어를 입력하세요."/>
            </el-form-item>
          </el-form>
          <template #button>
            <div>
              <el-button @click="resetForm(searchFormRef)">
                <el-icon><Refresh /></el-icon>
              </el-button>
            </div>
          </template>
        </search-aria>
        <el-table
          :data="filterTableData"
          :height="app?.appContext.config.globalProperties.$calculationHeight()"
          border
        >
          <el-table-column type="index" width="80" align="center"/>
          <el-table-column prop="division" label="영역" width="150" align="center"/>
          <el-table-column prop="code" label="범주" width="150" align="center"/>
          <el-table-column prop="industryName" label="분류번호" align="center"/>
        </el-table>
      </el-col>
      <el-col :span="14">
        <el-card shadow="never" :body-style="{ height: 'calc(100vh - 102px)' }" >
          <el-scrollbar>
            <Industry_selector division="GICS" :level="4" v-model="industrySelectGICS"></Industry_selector>
            <Industry_selector division="KSIC" :level="3" v-model="industrySelectKSIC"></Industry_selector>

            <el-button @click="checkValue">check value</el-button>
          </el-scrollbar>
        </el-card>
      </el-col>
    </el-row>

  </div>
</template>


<style scoped>
</style>