<script  lang="ts" setup>
import MainTop from "@/components/layout/main-top.vue";
import {ref} from "vue";
import {ElTable} from "element-plus";
import { reactive } from 'vue'
import { default as vElTableInfiniteScroll } from "el-table-infinite-scroll";

const userRegistration = ref(false)
const form = reactive({
  name: '',
  region: '',
  date1: '',
  date2: '',
  delivery: false,
  type: [],
  resource: '',
  desc: '',
})

const onSubmit = () => {
  console.log('submit!')
}

const dataTemplate = new Array(10).fill({
  date: "2009-01-01",
  name: "Tom",
  age: "30",
});

const data = ref([]);
const disabled = ref(false);
const page = ref(0);
const total = ref(5);

const load = () => {
  if (disabled.value) return;

  page.value++;
  if (page.value <= total.value) {
    data.value = data.value.concat(dataTemplate);
  }

  if (page.value === total.value) {
    disabled.value = true;
  }
};

const chartOptions= {
  chart: {
    id: "vuechart-example",
  },
  xaxis: {
    categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998],
  },
}
const series= [
  {
    name: "series-1",
    data: [30, 40, 35, 50, 49, 60, 70, 91],
  },
]
</script>

<template>
  <div>
    <el-row>
      <el-col :span="24"><main-top></main-top></el-col>
    </el-row>
    <el-row>
      <el-col :span="12" class="flex justify-start">
        <el-button @click="userRegistration = true">
          <el-icon class="mr-2"><Search /></el-icon>조회
        </el-button>
      </el-col>
      <el-col :span="12" class="flex justify-end">
        <el-button type="primary" @click="userRegistration = true">사용자 등록</el-button>
        <el-drawer
            v-model="userRegistration"
            title="사용자 등록"
            direction="rtl"
            size="50%"
        >
          <template #default>
            <el-form :model="form" label-width="120px">
              <el-form-item label="Activity name">
                <el-input v-model="form.name" />
              </el-form-item>
              <el-form-item label="Activity zone">
                <el-select v-model="form.region" placeholder="please select your zone">
                  <el-option label="Zone one" value="shanghai" />
                  <el-option label="Zone two" value="beijing" />
                </el-select>
              </el-form-item>
              <el-form-item label="Activity time">
                <el-col :span="11">
                  <el-date-picker
                      v-model="form.date1"
                      type="date"
                      placeholder="Pick a date"
                      style="width: 100%"
                  />
                </el-col>
                <el-col :span="2" class="text-center">
                  <span class="text-gray-500">-</span>
                </el-col>
                <el-col :span="11">
                  <el-time-picker
                      v-model="form.date2"
                      placeholder="Pick a time"
                      style="width: 100%"
                  />
                </el-col>
              </el-form-item>
              <el-form-item label="Instant delivery">
                <el-switch v-model="form.delivery" />
              </el-form-item>
              <el-form-item label="Activity type">
                <el-checkbox-group v-model="form.type">
                  <el-checkbox label="Online activities" name="type" />
                  <el-checkbox label="Promotion activities" name="type" />
                  <el-checkbox label="Offline activities" name="type" />
                  <el-checkbox label="Simple brand exposure" name="type" />
                </el-checkbox-group>
              </el-form-item>
              <el-form-item label="Resources">
                <el-radio-group v-model="form.resource">
                  <el-radio label="Sponsor" />
                  <el-radio label="Venue" />
                </el-radio-group>
              </el-form-item>
              <el-form-item label="Activity form">
                <el-input v-model="form.desc" type="textarea" />
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="onSubmit">Create</el-button>
                <el-button>Cancel</el-button>
              </el-form-item>
            </el-form>
          </template>
          <template #footer>
            <div style="flex: auto">
              <el-button @click="userRegistration = false">취소</el-button>
              <el-button type="primary">등록</el-button>
            </div>
          </template>
        </el-drawer>
      </el-col>
    </el-row>
    <el-row>
      <el-table
          v-el-table-infinite-scroll="load"
          :data="data"
          :infinite-scroll-disabled="disabled"
          height="600px"
          border
      >
        <el-table-column type="index" />
        <el-table-column prop="date" label="date" />
        <el-table-column prop="name" label="name" />
        <el-table-column prop="age" label="age" />
      </el-table>
    </el-row>
    <el-row>
      <apexchart
          width="500"
          type="bar"
          :options="chartOptions"
          :series="series"
      ></apexchart>
    </el-row>
  </div>
</template>


<style scoped>

</style>