<script  lang="ts" setup>
import Editor from "@/components/editor/Editor.vue";
import MainTop from "@/components/layout/main-top.vue";
import Viewer from "@/components/editor/Viewer.vue";



</script>
<template>
  <div>
    <el-row>
      <el-col :span="24"><main-top></main-top></el-col>
    </el-row>
    <el-row>
      <el-col :span="24">
        <Editor />
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="24">
        <Viewer />
      </el-col>
    </el-row>
  </div>
</template>


<style scoped>
</style>