<script  lang="ts" setup>
import {ref} from "vue";
import MainTop from "@/components/layout/main-top.vue";

const detailForm = ref({
  companyZip: "",
  companyAddr: "",
  companyDetailAddr: ""
})


const companyDetailAddr = ref<HTMLInputElement>()
function searchAddr() {
  //console.log("kakao post start");
  let daum = window['daum'];
  new daum.Postcode({
    oncomplete: function (data) {
      detailForm.value.companyZip = data.zonecode
      detailForm.value.companyAddr = data.address
      companyDetailAddr.value.focus();
    },
  }).open();
}
</script>
<template>
  <div>
    <main-top></main-top>
    <el-row :gutter="20">
      <el-col :span="11">
        <el-card shadow="never" :body-style="{ height: 'calc(100vh - 102px)' }">
          <el-scrollbar>
            <el-form
              ref="detailFormRef"
              :model="detailForm"
            >
              <el-descriptions
                title="정보"
                :column="2"
                size="default"
                border
              >
                <el-descriptions-item span="2" label="주소" label-align="center" label-class-name="w-[9rem]">
                  <el-form-item prop="companyZip" class="!m-0">
                    <div class="flex gap-2">
                      <el-input
                        v-model="detailForm.companyZip"
                        placeholder="우편번호"
                        disabled
                      >
                      </el-input>
                      <el-button @click="searchAddr">
                        주소 검색
                      </el-button>
                    </div>
                  </el-form-item>
                  <el-form-item prop="companyAddr" class="!m-0 !mt-2">
                    <el-input
                      v-model="detailForm.companyAddr"
                      placeholder="주소"
                    >
                    </el-input>
                  </el-form-item>
                  <el-form-item prop="companyDetailAddr" class="!m-0 !mt-2">
                    <el-input
                      v-model="detailForm.companyDetailAddr"
                      ref="companyDetailAddr"
                      placeholder="상세 주소"
                    >
                    </el-input>
                  </el-form-item>
                </el-descriptions-item>
              </el-descriptions>
            </el-form>
          </el-scrollbar>
        </el-card>
      </el-col>
    </el-row>

  </div>
</template>


<style scoped>
</style>