<script  lang="ts" setup>
import MainTop from "@/components/layout/main-top.vue";
import { getCurrentInstance, ref} from "vue";
import {ElTable} from "element-plus";
import { reactive } from 'vue'
import { default as vElTableInfiniteScroll } from "el-table-infinite-scroll";
import SearchAria from "@/components/layout/search-aria.vue";

const app = getCurrentInstance();
let searchView = app?.appContext.config.globalProperties.searchView

const userRegistration = ref(false)

// do not use same name with ref
const form = reactive({
  name: '',
  region: '',
  date1: '',
  date2: '',
  delivery: false,
  type: [],
  resource: '',
  desc: '',
})


const dataTemplate = new Array(10).fill({
  date: "2009-01-01",
  name: "Tom",
  age: "30",
});

const data = ref([]);
const disabled = ref(false);
const page = ref(0);
const total = ref(5);

const load = () => {
  if (disabled.value) return;

  page.value++;
  if (page.value <= total.value) {
    data.value = data.value.concat(dataTemplate);
  }

  if (page.value === total.value) {
    disabled.value = true;
  }
};

function calculationHeight() {
  if(searchView.value){
    return "calc(100vh - " + (102 + app?.appContext.config.globalProperties.searchHeight.value + 20) + "px)"
  }else{
    return "calc(100vh - 102px)"
  }
}



</script>
<template>
  <div>
    <main-top></main-top>
    <search-aria ref="child">
      <el-form :inline="true" :model="form" size="default">
        <el-form-item label="검색 조건1">
          <el-input v-model="form.name" placeholder="Approved by" />
        </el-form-item>
        <el-form-item label="검색 조건1">
          <el-input v-model="form.name" placeholder="Approved by" />
        </el-form-item>
        <el-form-item label="검색 조건1">
          <el-input v-model="form.name" placeholder="Approved by" />
        </el-form-item>
        <el-form-item label="검색 조건1">
          <el-input v-model="form.name" placeholder="Approved by" />
        </el-form-item>
        <el-form-item label="검색 조건1">
          <el-input v-model="form.name" placeholder="Approved by" />
        </el-form-item>
        <el-form-item label="검색 조건1">
          <el-input v-model="form.name" placeholder="Approved by" />
        </el-form-item>
        <el-form-item label="검색 조건1">
          <el-input v-model="form.name" placeholder="Approved by" />
        </el-form-item>
        <el-form-item label="검색 조건2">
          <el-select v-model="form.region" placeholder="Activity zone">
            <el-option label="Zone one" value="shanghai" />
            <el-option label="Zone two" value="beijing" />
          </el-select>
        </el-form-item>
      </el-form>
      <template #button>
        <div>
          <el-button>
            <el-icon class="mr-2"><Refresh /></el-icon>초기화
          </el-button>
          <el-button type="primary" @click="userRegistration = true">
            <el-icon class="mr-2"><Search /></el-icon>조회
          </el-button>
        </div>
      </template>
    </search-aria>
    <el-row>
<!--  height
      조회 조건 없을때 : calc(100vh - 102px)
      조회 조건 있을때 : calc(100vh - 102px   + 조회조건 높이 + 20px) -->
      <el-table
          v-el-table-infinite-scroll="load"
          :data="data"
          :infinite-scroll-disabled="disabled"
          :height="calculationHeight()"
          border
      >
        <el-table-column type="index" />
        <el-table-column prop="date" label="date" />
        <el-table-column prop="name" label="name" />
        <el-table-column prop="age" label="age" />
      </el-table>
    </el-row>
  </div>
</template>


<style scoped>

</style>