<script  lang="ts" setup>
import {getCurrentInstance, ref} from 'vue'
import { ElTable } from 'element-plus'
import MainTop from "@/components/layout/main-top.vue";


const app = getCurrentInstance();
const pageSizeList = ref(app?.appContext.config.globalProperties.pageSizeList);
const pageSize = ref(app?.appContext.config.globalProperties.pageSize);
const currentPage = ref(app?.appContext.config.globalProperties.currentPage);


interface User {
  date: string
  name: string
  address: string
}

const multipleTableRef = ref<InstanceType<typeof ElTable>>()
const multipleSelection = ref<User[]>([])

const handleSelectionChange = (val: User[]) => {
  multipleSelection.value = val
}

const handleSizeChange = (val: number) => {
  console.log(`${val} items per page`)
}
const handleCurrentChange = (val: number) => {
  console.log(`current page: ${val}`)
}

const tableData: User[] = [
  {
    date: '2016-05-03',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-02',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-04',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-01',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-08',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-06',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-07',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
]

</script>
<template>
  <div>
    <el-row>
      <el-col :span="24"><main-top></main-top></el-col>
    </el-row>
    <el-row>
      <el-table
          ref="multipleTableRef"
          :data="tableData"
          border
          style="width: 100%"
          table-layout="auto"
          @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection"/>
        <el-table-column label="Date">
          <template #default="scope">
            <!--            <el-date-picker v-model="scope.row.date"></el-date-picker>-->
          </template>
        </el-table-column>
        <el-table-column property="name" label="Name"/>
        <el-table-column property="address" label="Address" show-overflow-tooltip />
      </el-table>
    </el-row>
    <el-row>
      <el-pagination
          v-model:currentPage="currentPage"
          v-model:page-size="pageSize"
          :page-sizes="pageSizeList"
          layout="total, sizes, prev, pager, next, jumper"
          :total="tableData.length"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
      />
    </el-row>
  </div>
</template>


<style scoped>
</style>