<template>
  <Header />

  <routerView />
  <Footer />
</template>

<script>
import Header from "@/components/Header";
import Footer from "@/components/Footer";
import store from "./scripts/store";
import axios from "axios";
import { useRoute } from "vue-router";
import { watch } from "vue";

export default {
  name: "App",
  components: {
    Footer,
    Header,
  },
  setup(){
    const check = () =>{
      axios.get("/api/account/check").then(({data}) => {
       store.commit("setAccount", data || 0);
      })
    }
    const route = useRoute();
    watch(route, () => {
      check();
    })
  }
};
</script>
